*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 2em;
    color: #666;
}

.parallax1,
.parallax2,
.parallax3,
.parallax4{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    /*
        parallax = fixed
        modo normal = scroll
    */
    background-attachment: fixed;
}

.parallax1{
    background-image: url('https://media.giphy.com/media/H5AMoAO4JLPEI/giphy.gif');
    min-height: 100%;
}

.parallax2{
    background-image: url('https://media.giphy.com/media/f5UwtpUbrAEE0/giphy.gif');
    min-height: 600px;
    
}

.parallax3{
    background-image: url('https://media.giphy.com/media/1jw2nH1TMiGqCyG9M2/giphy.gif');
    min-height: 600px;
    
}

.parallax4{
    display: flex;
    position: relative;
    background-image: url('https://media.giphy.com/media/2y98KScHKeaQM/giphy.gif');
    min-height: 600px;
    
}

.section{
    background-color: #282e34;
    color: #ddd;
    text-align: center;
    padding: 50px 80px;
}

.p-text{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 47px;
    letter-spacing: 8px;
}


.border{
    background-color: #111;
    opacity: 90%;
    color: #fff;
    padding: 20px;
}


.img{
    position: absolute;
    padding: 1%;
    height: 50px;
    width: 100px;
    padding-right: 5px;
    right: 10px;
    
    
}
.agrad{
    color:#000000;
    position: absolute;
    padding-left: 5px;
    text-transform: capitalize;
    top:550px;
    
}



a:hover,
a:visited{
    color: #666;
}

h2{
   padding-bottom: 20px; 
}

.border.trans{
    background: transparent;
}

@media(max-width:568px){
    .parallax1, .parallax2, .parallax3, .parallax4{
        background-attachment: scroll;
    }
}